In [1]:
import pandas as pd

In [2]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [10]:
# Read data 
df = pd.read_csv("data/per_stats.csv")
# Add state for mapping
df["state"] = df["statenm"].apply(us_state_abbrev.get)
# Select columns
df = df[['year', 'state', 'per_total', 'per_hhkid', 'per_hhnokid', "per_total_fail_pctoftotal"]]

In [14]:
# Remove United State and Guam because of map restriction
df = df.dropna()
df.head()

,year,state,per_total,per_hhkid,per_hhnokid,per_total_fail_pctoftotal
1,2015,AL,8.858429e+05,6.325298e+05,2.533130e+05,0.44
2,2015,AK,8.088289e+04,5.990501e+04,2.097788e+04,0.00
3,2015,AZ,9.860012e+05,7.362065e+05,2.497947e+05,6.31
4,2015,AR,4.557754e+05,3.261708e+05,1.296046e+05,0.00
5,2015,CA,4.346007e+06,3.233236e+06,1.112771e+06,3.49

In [15]:
# Output
df.to_csv("data/per_stats_clean.csv", index=False)

In [17]:
df.per_total_fail_pctoftotal.describe()

count    156.000000
mean       4.183718
std        3.597206
min        0.000000
25%        0.345000
50%        4.195000
75%        7.140000
max       11.860000
Name: per_total_fail_pctoftotal, dtype: float64